<% include partials/header %>

    <div class="container">
        <br>
        <br>
        <br>
        <header class='jumbotron vertical-center shadow'>
            <div class="container">
                <h1 class='display-4 text-center'><i style="font-size:3rem;color:#026a7cda" class="fas fa-book-reader"></i> Vidyakosh</h1>
                <br>
                <h5 class='display-5 text-center'>A crowd-sourced platform for gathering data of IITGN courses</h5>
                <hr>
                <p class='display-5'>
                    Choosing and preparing for courses is an extremely daunting task due to the fact that most students have no idea what to expect from a course. Even those who do have some general idea mostly do so due to the advice of a few seniors they are in contact
                    with. But even then, there are quite a few insights that get lost in the ravages of time, and a lot of misinformation that doesn’t.
                </p>
                <hr>
                <br>
                <div class="home-buttons">
                    <a class="btn btn-new btn-imp shadow-lg" href='/courses'>View all courses</a>
                    <a class="btn btn-new btn-imp shadow-lg" href='/Search'>Search course</a>
                </div>
            </div>
        </header>
    </div>
    <br>
    <br>
    <br>
    <hr>

    <% include partials/footer %>